.feriado,
.adm {
  font-size: 1.8rem;
  text-align: center;
  
  .btn { // talvez mover para componentes
    &:not(:first-child) {
      margin-left: 2rem;
    }

    @media only screen and (max-width: $bp-pequeno) {
      display: block;
      
      &:first-child {
        margin-right: 0;
        margin-bottom: .5rem;
      }
    }
  }
}